<?xml version='1.0' encoding='utf-8'?>
<plugin id="moltin-cordova-plugin-square-reader" version="0.0.1" 
    xmlns="http://apache.org/cordova/ns/plugins/1.0" 
    xmlns:android="http://schemas.android.com/apk/res/android">

    <name>MoltinCordovaSquareReader</name>

    <dependency id="cordova-plugin-add-swift-support" version="1.7.2"/>

    <js-module name="MoltinCordovaSquareReader" src="www/MoltinCordovaSquareReader.js">
        <clobbers target="MoltinCordovaSquareReader" />
    </js-module>

    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="MoltinCordovaSquareReader">
                <param name="ios-package" value="MoltinCordovaSquareReader" />
            </feature>
        </config-file>

        <config-file target="*-Info.plist" parent="NSLocationWhenInUseUsageDescription">
        	<string>This app integrates with Square for card processing. To protect buyers and sellers, Square requires your location to process payments.</string>
        </config-file>

        <config-file target="*-Info.plist" parent="NSMicrophoneUsageDescription">
          <string>This app integrates with Square for card processing. To swipe magnetic cards via the headphone jack, Square requires access to the microphone.</string>
        </config-file>

        <config-file target="*-Info.plist" parent="NSBluetoothPeripheralUsageDescription">
          <string>This app integrates with Square for card processing. Square uses Bluetooth to connect your device to compatible hardware.</string>
        </config-file>

        <config-file target="*-Info.plist" parent="NSCameraUsageDescription">
          <string>This app integrates with Square for card processing. Upload your account logo, feature photo and product images with the photos stored on your mobile device.</string>
        </config-file>

        <config-file target="*-Info.plist" parent="NSPhotoLibraryUsageDescription">
          <string>This app integrates with Square for card processing. Upload your account logo, feature photo and product images with the photos stored on your mobile device.</string>
        </config-file>

        <config-file target="*-Info.plist" parent="UISupportedExternalAccessoryProtocols">
          <array>
            <string>com.squareup.s020</string>
            <string>com.squareup.s025</string>
            <string>com.squareup.s089</string>
          </array>
        </config-file>
        
        <source-file src="src/ios/MoltinCordovaSquareReader.swift" />
    </platform>
    
</plugin>